html, body {
    height: 100%;
    padding-top: 25px;
    margin: 0;
}


p, h1 {
    margin: 0;
}

.h1, h1{
    font-size:50px;
    padding-top: 300px;
    padding-bottom: 502px;
}

/*NAV BAR*/
.navbar{
    margin-bottom: 0 !important;
    text-align: center;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}


/*.navbar-two{
    background: #1F2041 !important;
    top: 50px;
}*/

.nav > li > a:hover, .nav > li > a:focus {
  /*background-color: #00CED1!important;*/
  color: #A7DBD8!important;
  text-decoration: none;
}


.navbar .navbar-collapse{
    text-align: center;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-brand {
    text-align: center;
    float: none !important;
    margin: 0; 
    color: #F7FFF7;
}

.navbar-brand:hover{
    color: #A7DBD8!important;
}

/*@media (max-width: 992px) {
    body {
        padding: 0;
    }
    .navbar-two {
        display: none;
    }
} */
 
/*DROPDOWN*/
/*
.dropdown-section {
    padding: 0;
}

i.dropdown.icon {
    font-size: 0.5em;
    margin: 0 !important;
    color: #9d9d9d;
}

.ui.dropdown {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color: #1F2041;
    color: #9d9d9d;
}

.ui.dropdown:hover{
    color: #A7DBD8!important;
}

.ui.dropdown .menu {
    width: 100%;
    margin: 0 auto;
}

.ui.dropdown .menu > * {
    padding: 20px 0;
}

.ui.dropdown .menu .item {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

@media (min-width: 992px) {
    .ui.dropdown {
        display: none;
    }
} */

/*About Me Profile*/

.circular-profile{
    margin-top : 25px;
}

.circular-profile img {
    width: 300px;
    height: auto;
    border-radius: 50%;
}

.afternav{
    margin-top: 100px;
}

.about-me {
   margin-left: 30px;
   margin-right: 30px;
}

.abouttitle{
    margin-bottom: 20px;
    text-align: center;
}


h2{
  margin: 0;
  padding: 20px;
  text-align: center;
  color: #fff;
}

/*h5{
    font-size: 20px;
    padding: 10px;
    color: #9d9d9d;
} */

p{
     font-size: 18px;
}

.education{
    text-align: left;
}

/* Ribbons */

.ribbon{
  text-align: center;
  line-height: 20px;
  letter-spacing: 1px;
}

.aboutsection{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Custom styles */

.ribbon.sticky{
  position: fixed;
}

.ribbon.shadow{
      box-shadow: 1px #000;  
}

/* Ribbon Colors */

.ribbon.blue{background: #1F2041;}
.ribbon.purple{background: #4B3F72;}
.ribbon.charcol{background: #2E4057;}
.ribbon.seablue{background: #177E89;}
.ribbon.green{background: #44AF69;}

/*Contact*/

.contact {
    background: black;
    text-align: center;

}

.fa {
    color: white;
}

.fa:hover{
    color: #A7DBD8;
}

/* Mobile Portrait*/
@media (max-height: 480px) {
    .h2{
        margin: 0;
    }
    .title {
        font-size: 20px;
    }
}

@media (max-width: 425px){
    .h2{
        margin: 0;
    }
    .title {
        font-size: 20px;
    }
}