html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

p, h1 {
    margin: 0;
}

.h1, h1{
    font-size:50px;
    padding-top: 300px;
    padding-bottom: 502px;
}

.navbar{
    margin-bottom: 0 !important;
    text-align: center;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    
}

.navbar .navbar-collapse{
    text-align: center;
}









.contact {
    background: black;
    text-align: center;

}

.fa {
    color: white;
}