html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

p, h1 {
    margin: 0;
}

.h1, h1{
    font-size:50px;
    padding-top: 235px;
    padding-bottom: 100px;
}

.navbar{
    margin-bottom: 0 !important;
    text-align: center;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    
}

.nav > li > a:hover, .nav > li > a:focus {
  /*background-color: #00CED1!important;*/
  color: #A7DBD8!important;
  text-decoration: none;
}

.navbar .navbar-collapse{
    text-align: center;
}

.navbar-brand {
    text-align: center;
    float: none !important;
    margin: 0; 
}

.navbar-brand:hover{
    color: #A7DBD8!important;
}

.poster {
    width: 100%;
    height: calc(100% - 81px);
    background: linear-gradient(rgba(10,10,10,0.1), rgba(10,10,10,0.1)), 
                no-repeat center;
    background-image: url(../images/cowles_mountain.jpg);
    background-size: cover;
    color:white;
    text-align: center;
}

.poster-text {

    text-align: center; 

}

.contact {
    background: black;
    text-align: center;

}

.fa {
    color: white;
}


/* Mobile Portrait*/
@media (max-height: 480px) {
    .h1,h1{
        padding-top: 640px;
        font-size: 30px;
    }
}

@media (max-width: 425px){
    .h1,h1{
        font-size: 30px;
    }
}