html, body {
    height: 100%;
    padding: 0;
    margin: 0;

}

p, h1 {
    margin: 0;
}

h1{
    padding-top: 10px;
    text-align: center;
    font-size:50px;
}

h2{
    text-align: center;
}

h3{
    padding: 0 20px 0 20px;
}

p{
    text-align: left;
    font-size: 18px;
}

a{
    color:antiquewhite;
    font-size: 18px;
}

a:hover{
    color: burlywood;
}

a:visited{
    color: antiquewhite;;
}


.navbar{
    margin-bottom: 0 !important;
    text-align: center;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    
}

.nav > li > a:hover, .nav > li > a:focus {
  /*background-color: #00CED1!important;*/
  color: #A7DBD8!important;
  text-decoration: none;
}

.navbar .navbar-collapse{
    text-align: center;
}

.navbar-brand {
    text-align: center;
    float: none !important;
    margin: 0; 
}

.navbar-brand:hover{
    color: #A7DBD8!important;
}


.poster {
    width: 100%;
    height: auto;
    background-image: url(../images/cowles_mountain.jpg);
    background-size: cover;
    background-position: center;
    color: #E6E6E6;
    /*text-align: center;*/
    margin: 0;
}


.activity{
    background-color: rgba(10,10,10,0.22);
    color: #E6E6E6;
}

.cal{
    text-align: center;
}

.header{
    padding: 0 40px 0 40px;
}

h3.lasth3 {
    margin-bottom: 0;
}

.act-one, .act-two, .act-three, .act-four, .act-five {
    /*display: none;*/
    padding: 0 60px 0 60px;
}


.contact-form{
    padding-top: 30px;
    background-color: rgba(10,10,10,0.25);
    color: #E6E6E6;
    text-align: center;
}

.contact-form p{
    text-align: center;
    padding-bottom: 20px;
}

.form-head h1{
    margin-bottom: 30px;
}


.contact {
    background: black;
    text-align: center;

}

.contact .fa {
    color: white;
}

.contact .fa:hover{
    color: #A7DBD8;
}