html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}


h1{
    color: #E6E6E6;
    margin: 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

p{
    color: #E6E6E6;
    margin: 0;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

/*Navbar*/
.navbar{
    margin-bottom: 0 !important;
    text-align: center;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    
}

.nav > li > a:hover, .nav > li > a:focus {
  /*background-color: #00CED1!important;*/
  color: #A7DBD8!important;
  text-decoration: none;
}

.navbar .navbar-collapse{
    text-align: center;
}

.navbar-brand {
    text-align: center;
    float: none !important;
    margin: 0; 
}

.navbar-brand:hover{
    color: #A7DBD8!important;
}


/*Project*/


.all-project{
    
    background-color: #E6E6E6;

}

.header{
    background-color: #1F2041;

    
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    
}

.project-card{
    padding: 30px 5%;
    text-align: center;
    background-color: #1F2041;
    padding: 10px;
    margin: 30px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.project-card h1{
    text-align: center;
    color:#E6E6E6;
}

.project-card h3{
    color:#E6E6E6;
}

.project-card p{
    font-size: 20px;
    padding: 10px 0;
    color: #E6E6E6;
}

.short-descrip{
    padding: 5px 0 10px;
}

.long-descrip{
    display: none;
}



.skill{
    font-size: 16px;
    font-weight: bold;
    color: #E6E6E6;
    background-color: #8E5572;
    
    border-radius: 50px;
    float: left;
    
    margin: 4px 4px;
    padding: 4px 16px;
    
}

.skill-tag{
    display: inline-block;
    margin: 0 auto;

}

.link{
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.link .fa{
    margin: 0 8%;
    opacity: 1;
    color: black;
    font-size: 6em;
}


.repo-link{
    width: calc(100% - 30px);
    height: 100%;
    position: absolute;
    opacity: 0;
    background: rgba(255, 255, 255, 0.65);
    -webkit-transition: opacity 0.3s; 
    transition: opacity 0.3s;
}

.repo-link:hover{
    opacity: 1;
}


.contact {
    background: black;
    text-align: center;
}

.contact .fa {
    color: white;
}

.contact .fa:hover{
    color: #A7DBD8;
}