body {


	width:100%;
	height: 100%;

	text-align: center;

	margin: 0 auto;

	/*font: 14px "Open Sans", Helvetica, Arial, sans-serif;*/

}

a {

	color: #1abc9c;

}

p{

	padding: 0px;
	margin: 0px;

}


/*MAIN*/

main{

	display: table;

	width: 100%;

	text-align: center;

}

h3{

	display: inline-block;

	font-size: 27px;
	font-weight: 300;
	text-align: center;
	color: #888888;

	letter-spacing: 2px;

	text-transform: uppercase;

	text-shadow: 0px 1px 0px #ffffff;
    padding-top: 10px;
}


.section{

	width:95%;

	margin: 1em auto 2em auto;

	display: table;

	background-color: #ffffff;

	/*border-right: 1px solid #eaeaea;*/
	/*border-bottom: 1px solid #eaeaea;*/

}

.skills .column1{

    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

	float: left;

	width:100%;

	/*padding: 1em;
	margin-top: 0em;*/

}